<launch>
  <!-- size of map, change the size in x, y, z according to your application -->
  <arg name="map_size_x" value="35.0"/>
  <arg name="map_size_y" value="25.0"/>
  <arg name="map_size_z" value=" 3.5"/>

  <!-- Global odom prefix -->
  <arg name="odom_prefix" value="/state_ukf/odom" />
  <arg name="drone_num" value="3" />

    <!-- Map generation -->
  <!-- <node pkg ="map_generator" name ="map_pub" type ="map_pub" output = "screen" args="$(find map_generator)/resource/classroom.pcd">    
  </node> -->
  <node pkg ="map_generator" name ="map_pub" type ="map_pub" output = "screen" args="$(find map_generator)/resource/explore1.pcd">    
  </node>

  <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="1"/>
    <arg name="init_x"   value="-8"/>
    <!-- <arg name="init_x"   value="-2"/> -->
    <arg name="init_y"   value="1.5"/>
    <!-- <arg name="init_y"   value="2"/> -->
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include>

  <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="2"/>
    <arg name="init_x"   value="-8"/>
    <arg name="init_y"   value="0.5"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include>

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="3"/>
    <arg name="init_x"   value="-8"/>
    <arg name="init_y"   value="-0.5"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="4"/>
    <arg name="init_x"   value="-8"/>
    <arg name="init_y"   value="-1.5"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
  </include> -->

  <node pkg="local_sensing_node" type="sim_swarm_tf" name="sim_swarm_tf" output="screen">
    <param name="drone_num"     value="$(arg drone_num)"/>
  </node>

</launch>
